* {
	margin: 0px auto;
	padding: 10px;
}
body {

	background: url(../img/d52.jpg) no-repeat ;
	background-size: cover;
}
.container {

	width: 560px;
	margin: 15% auto;
	background-color: #f000;
}
.reg-section h2 {
    text-align: center;
    margin: 1% auto;
    padding: 10px auto;
    font-size: 30px; 
}

.from-control {
 
 width: 100%;

 padding: 25% auto;
 margin: 5px auto;
}


.btn{

   margin: 8px auto;
   padding: 8px 15px;
   background-color: black;
   color: #fff;
   display: block;
   text-transform: uppercase;
   border: none;
}